/****** SPEAKER GRID USING GRID / FlexBox ******/
.speaker__grid--row {
  display:flex;
  flex-flow:row wrap;
  justify-content: space-around;
}

.speaker {
	padding: .25em;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

@media (min-width: 768px) {
   /* IF NO .speaker__grid--row-featured class present, flex basis 30% applied to each speaker */
.speaker {flex-basis:30%;}
}

@media (min-width: 991px) {
  /* IF NO .speaker__grid--row-featured class present, flex basis 20% applied to each speaker */
	.speaker {
    color:var(--clr-white);
    flex-basis:20%;
	}
}


.speaker__img {
  width:200px;
  height:200px;
  object-fit: cover;
}

.speaker__content {
	text-align: center;
}

.speaker__content--name,.speaker__content--company,.speaker__content--title {
   margin:0;
   padding: 0;
 }

 .speaker__content--company {
   font-size: var(--fs-h3);
   font-weight:var(--fw-bold);
 }



@media (min-width: 991px) {
  /* Featured Speaker Row Grid Template Areas */
  .speaker__grid--row-featured {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .speaker__grid--row-featured:nth-child(odd)  {
		grid-template-areas:
			'featured-spkr featured-spkr speaker-b speaker-c'
			'featured-spkr featured-spkr speaker-d speaker-e';
	}
	.speaker__grid--row-featured:nth-child(even){
		grid-template-areas:
			'speaker-b speaker-c featured-spkr featured-spkr'
			'speaker-d speaker-e featured-spkr featured-spkr';
	}
  .featured__speaker{
		grid-area: featured-spkr;
	}

	/* Featured Speaker Row Content Positioning */
	.speaker__grid--row-featured .speaker  {
		position: relative;
	}

  .speaker__grid--row-featured .speaker__content {
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    padding:0 .85em .5em .85em;
    text-shadow: 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.7);
 }

  /* Featured Speaker Image Name Styling */
  .speaker__content--name-featured {
   font-size:var(--fs-h2);
 }

	/* Featured Speaker Row Image Styling */
	.speaker__grid--row-featured .speaker__img {
		width: 100%;
		height: 100%;
		filter: brightness(90%) grayscale(20%);
		transition: linear 200ms;
	}
	.speaker__grid--row-featured .speaker__img:hover {
		filter: brightness(100%) grayscale(0%);
	}
}
