*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* Custom Properties */
:root {
  /* Colors */
--clr-white: #fff;
--clr-grey:grey;
--clr-black:rgb(34, 34, 34);
/* Font Weight */
--fw-reg: 400;
--fw-bold: 800;
/* Font Sizes */
--fs-h1: 3rem;
--fs-h2: 2.25rem;
--fs-h3: 1.25rem;
--fs-h4: 1.05rem;
--fs-body: 1rem;
}

/*  */
body {
	background: var(--clr-grey);
  color:var(--clr-black)
}

/****** DELETE BEFORE GOING LIVE - ON ALL MEDIA QUERIES ******/
.heading:after {
	display: block;
	content: 'Mobile - View';
	color: var(--clr-white);
	font-size: 0.85em;
}
@media (min-width: 768px) {
	/****** DELETE BEFORE GOING LIVE - ON ALL MEDIA QUERIES ******/
	.heading:after {
		content: '768px - 991px';
	}
}
@media (min-width: 991px) {
  	.heading:after {
		content: '991px +';
	}
}
/****** DELETE BEFORE GOING LIVE - ON ALL MEDIA QUERIES ******/
